.btn-width{
  width:80px;
}
.title{
  color:rgb(255, 86, 80);
}
.edit-icon{
  color:#0288d1;
  background-color: transparent;
  border: 1px solid #e8e5e5;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
}
::ng-deep .create-modal{
  top: 10%;
   width: 94% !important;
    min-height: 50%;
     .modal-content{
        top:0;
       }
    .modal-body{
   box-shadow: none;
  }
}

::ng-deep .delete-modal{
  top: 30%;
   width: 94% !important;
    min-height: 50%;
     .modal-content{
        top:0;
       }
    .modal-body{
   box-shadow: none;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5bc268;
}

input:focus + .slider {
  box-shadow: 0 0 1px #a2d1a9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.accordion-card{
  display: none;
}

@media screen and (max-width:780px){
  .table-container{
    border: 0;
  }
  .card-body{
    background-color: #fafafa;
  }
  .accordion-card{
    display: flex;
    justify-content: center;
  }
  .table-view{
    display: none;
  }
  input:checked + .slider {
    background-color: #5bc268;
    height: 1.5rem;
    width: 53px;
  }

  .slider.round:before {
    border-radius: 50%;
    height: 17px;
    width: 19px;
  }
  .edit-icon{
    margin-left: 0.8rem;
  }

  .slider{
    height: 1.5rem;
    width: 53px;
  }
  
}

@media screen and (min-width:500px) and (max-width:680px){
  .table-card{
    width:28rem;
  }
}
