<div class="d-flex justify-content-between" style="margin-top: 10rem; margin-left: 3rem; margin-right: 3rem; ">
  <h3 class="fw-bold title" style="margin: 8px 0px 21px 0px;">Tenant Management</h3>
  <!-- <button class="btn btn-primary" (click)="openModal(myModal)">+Add Tenant</button> -->
  <!-- <web-button-element (click)="openModal(myModal)">+ Add Tenant</web-button-element> -->
  <!-- <my-button-component (click)="openModal(myModal)" btntext="+ Add Tenant"></my-button-component> -->
  <nash-button type="raised" color="primary" (click)="openModal(myModal)">+ Add Tenant</nash-button>

  <!-- <WebButton></WebButton> -->
</div>

<div class="card mx-5 mb-2 px-3 table-container" style="border-radius: 1rem;">
  <div class="row row-cols-5 row-cols-sm-5 row-cols-md-5 row-cols-lg-5 g-5 px-2 table-view" style="margin-top: -1.5rem;
  margin-bottom: 0.25rem!important;">
    <div class="col-xxl-3 d-flex">
      <span class="fw-bold">Name</span>
    </div>

    <div class="col-xxl-2 d-flex">
      <span class="fw-bold">Code</span>

    </div>
    <div class="col-xxl-3 d-flex">
      <span class="fw-bold">Email</span>

    </div>
    <div class="col-xxl-2 d-flex">
      <span class="fw-bold">Inactive / Active</span>
    </div>
    <div class="col-xxl-2 d-flex justify-content-center">
      <span class="fw-bold">Actions</span>
    </div>
  </div>
  <div class="mb-2">
    <ng-container *ngIf="!showLoading; else load">
      <div *ngIf="tableRow.length!==0">
        <div class="report-body cursor-pointer px-2 table-view" *ngFor="let row of tableRow">
          <hr>
          <div class="row row-cols-5 row-cols-sm-5 row-cols-md-5 row-cols-lg-5 g-5">
            <div class="col-xxl-3 d-flex">
              <span>{{row?.tenant_name}}</span>
            </div>

            <div class="col-xxl-2 d-flex">
              <span>{{row.tenant_code}}</span>

            </div>
            <div class="col-xxl-3 d-flex">
              <span>{{row.tenant_email}}</span>

            </div>
            <div class="col-xxl-2 d-flex">
              <label class="switch">
                <input type="checkbox" [checked]="row.status==='enable'"
                  (click)="openDeleteModal(myDeleteModal, row.tenant_id, row.status)">
                <span class="slider round"></span>
              </label>
            </div>
            <div class="col-xxl-2 d-flex justify-content-center">
              <i class="material-icons edit-icon cursor-pointer" (click)="openModal(myModal,row.tenant_id)">edit</i>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="tableRow.length===0">
        <hr />
        <div class="d-flex justify-content-center mt-4 mb-4">
          <span><i>No Data to display</i></span>
        </div>
      </div>
    </ng-container>
    <ng-template #load>
      <hr>
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="accordion-card" *ngFor="let row of tableRow">
  <div class="card mt-2 table-card" style="width: 20rem; ">
    <div class="card-body">
      <h5 class="card-title">Name: {{row?.tenant_name}} </h5>
      <p class="card-text">Code: {{row.tenant_code}}</p>
      <p class="card-text">Email: {{row.tenant_email}}</p>
      <div class="">
        <div>Inactive / Active: 
        <label class="switch">
          <input type="checkbox" [checked]="row.status==='enable'"
            (click)="openDeleteModal(myDeleteModal, row.tenant_id, row.status)">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="d-flex align-items-center">Edit:
        <i class="material-icons edit-icon cursor-pointer ml-1" (click)="openModal(myModal,row.tenant_id)">edit</i>
      </div>
      </div>
    </div>
  </div>
</div>

<ng-template #myModal>
  <app-create-tenant [TenantId]="TenantId" (submitSuccess)="submited($event)"></app-create-tenant>
</ng-template>

<ng-template #myDeleteModal>
  <div class="mt-4 mb-4 p-4 d-flex flex-column justify-content-center align-items-center">
    <span class="text-bold">{{statusMsg}}</span>
    <div class="mt-4 d-flex justify-content-between">
      <!-- <button class="btn btn-primary mx-2 btn-width" (click)="deleteTenant()">Yes</button>
      <button class="btn btn-secondary mx-2 btn-width" (click)="closeModal()">No</button> -->
      <nash-button transform="uppercase" type="raised" color="primary" (click)="deleteTenant()" style="margin-right:2rem;">Yes</nash-button>
      <nash-button transform="uppercase" type="raised" color="secondary" (click)="closeModal()">No</nash-button>
    </div>
  </div>
</ng-template>
</div>