<div class="d-flex justify-content-between" style="margin-top: 10rem; margin-left: 3rem; margin-right: 3rem; ">
<h3 class="fw-bold title">Tenant Management</h3>
<!-- <button class="btn btn-primary" (click)="openModal(myModal)">+Add Tenant</button> -->
<web-button-element (click)="openModal(myModal)">+ Add Tenant</web-button-element>
<!-- <WebButton></WebButton> -->
</div>

<div class="card mx-5 mb-3 px-3" style="border-radius: 1rem;">
  <div class="row row-cols-4 row-cols-sm-4 row-cols-md-4 row-cols-lg-4 g-4 my-2 px-3">
    <div class="col-xxl-3 d-flex">
        <span class="fw-bold">Name</span>
    </div>

    <div class="col-xxl-2 d-flex">
      <span class="fw-bold">Code</span>

    </div>
    <div class="col-xxl-3 d-flex">
      <span class="fw-bold">Email</span>

    </div>
    <div class="col-xxl-2 d-flex">
      <span class="fw-bold">Inactive / Active</span>
    </div>
    <div class="col-xxl-2 d-flex justify-content-center">
      <span class="fw-bold">Actions</span>
    </div>
  </div>
<div class="mb-2">
<ng-container *ngIf="tableRow.length; else load">
  <div class="report-body cursor-pointer px-3" *ngFor="let row of tableRow">
    <hr>
  <div class="row row-cols-4 row-cols-sm-4 row-cols-md-4 row-cols-lg-4 g-4">
    <div class="col-xxl-3 d-flex">
        <span>{{row?.tenant_name}}</span>
    </div>

    <div class="col-xxl-2 d-flex">
      <span>{{row.tenant_code}}</span>

    </div>
    <div class="col-xxl-3 d-flex">
      <span>{{row.tenant_email}}</span>

    </div>
    <div class="col-xxl-2 d-flex">
      <label class="switch" >
        <input type="checkbox" [checked]="row.status==='enable'" (click)="openDeleteModal(myDeleteModal, row.tenant_id, row.status)" >
        <span class="slider round" ></span>
      </label>
    </div>
    <div class="col-xxl-2 d-flex justify-content-center">
      <i class="material-icons edit-icon cursor-pointer" (click)="openModal(myModal,row.tenant_id)">edit</i>
    </div>
  </div>
</div>
</ng-container>
<ng-template #load>
  <hr>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
</ng-template>
</div>

<ng-template #myModal>
<app-create-tenant [TenantId]="TenantId" (submitSuccess)="submited($event)"></app-create-tenant>
</ng-template>

<ng-template #myDeleteModal>
  <div class="mt-4 mb-4 p-4 d-flex flex-column justify-content-center align-items-center">
    <span class="text-bold">{{statusMsg}}</span>
    <div class="mt-4 d-flex justify-content-between">
      <button class="btn btn-primary mx-2 btn-width" (click)="deleteTenant()">Yes</button>
      <button class="btn btn-secondary mx-2 btn-width" (click)="closeModal()">No</button>
    </div>
  </div>
</ng-template>
</div>
