.header {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  background-color: #F5F5F5;
  padding: 0px 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
  display: flex;
}


.img-logo {
  height: 45px;
  width: auto;
  margin-left: 30px;
  margin-top: 15px;
  border-radius: 0%;
}

.header a {
  color: black;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 18px;
  line-height: 33px;
  border-radius: 4px;
  margin: 4px 10px 0px 8px;
  height: max-content;
}

@media screen and (max-width: 800px) {
  .header a {
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    line-height: 10px;
    border-radius: 4px;
    margin: 0 10px;
    margin-top: 5px;
  }

  .img-logo {
    height: 35px;
    width: auto;
    margin-top: 30px;
  }

  .header a:hover {
    background-color: #d2def2;
    color: black;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
    transform: translateY(-3px) scale(1.1);
    transition: all 0.5s;
  }

  .header a.active {
    background-color: rgb(255, 86, 80);
    color: white;
    margin-left: 6px;
  }
}

.header a:hover {
  color: black;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
  transform: translateY(-3px) scale(1.1);
  transition: all 0.5s;
  width: fit-content;
  height: fit-content;
  padding:8px;
}

.header a.active {
  background-color: rgb(255, 86, 80);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  color: white;
  transform: scale(0.8);
  transition: all 0.5s;
  color: white;
}

.home {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
}

.home .content {
  flex: 1 400px;
  padding-top: 280px;
}

.home .image img {
  width: 80%;
  padding: 20px;
  animation: float 3s linear infinite;
  margin-right: 10px;
  height: 600px;
  //width: 800px;
  border-radius: 10%
}

.home .image:hover {
  cursor: pointer;
}

/* @keyframes float{
  0%, 100%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(3rem);
  }
} */

.home .content h1 {
  margin-left: 20px;
  font-size: 60px;
  color: rgb(255, 86, 80);
}

.home .content p {
  font-size: 25px;
  color: gray;
  padding: 20px 0;
}

.image-border {
  border-radius: 8px;
}

.cont {
  margin-top: 50px;
}

@media screen and (max-width: 800px) {
  .home {
    flex-direction: column;

  }

  .home .content {
    flex: 1 200px;
    padding-top: 100px;
  }

  .home .content h3 {
    font-size: 38px;
  }

  .home .content p {
    font-size: 20px;
  }

}

.btn-width {
  width: 80px;
}

::ng-deep .logOut-modal {
  top: 30%;
  width: 93% !important;
  min-height: 50%;

  .modal-content {
    top: 0;
  }

  .modal-body {
    box-shadow: none;
  }
}

img {
  width: 25px;
  border-radius: 50px;
  float: left;
}

.logout {
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
  position: relative;
  right: -8px;
  bottom: 3px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;

}

#button-logout {
  text-decoration: none;
  float: right;
  padding: 12px;
  color: white;
  width: 43px;
  height: 78%;
  background-color: black;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden;
  margin-top: 6px;
  cursor: pointer;
}

#button-logout:hover {
  width: 9%;
  background-color: black;
}

#button-logout:hover .logout {
  opacity: .9;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .logout {
    font-size: 10px;
    position: relative;
    right: 2px;
    bottom: -9px;
    padding-top: 4px;
    overflow: hidden;
    letter-spacing: 0;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;

  }

  #button-logout {
    text-decoration: none;
    float: right;
    padding: 12px;
    color: white;
    width: 35px;
    height: 60%;
    background-color: black;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden;
    margin-left: 0;
    padding-right: 0;
    padding-left: 5px;

  }

  #button-logout:hover {
    display: flex;
    width: 93px;
    background-color: black;
    flex-direction: row;
    justify-content: space-between;
  }

  #button-logout:hover .logout {
    opacity: .9;
  }

  a {
    text-decoration: none;
  }

}