

<div class="header">
  <div class="header-right">
    <a routerLink="angular" [ngClass]="value ==='Home'? 'active':''" (click)="setValue('Home')">Home</a>
    <a routerLink="react" [ngClass]="value ==='List'? 'active':''" (click)="setValue('List')">Product List</a>
  </div>
</div>
<ng-container *ngIf="isActiveRoute('/dashboard'); else elseTemplate">
 <section class="home">

  <div class="content ">
    <h1><em>Shopaholics</em></h1>
    <span><em>Shopping is never a bad idea...</em></span><br>
    <button class="item btn" style="margin-top: 2em" mat-raised-button>
      Add Product
    </button>
  </div>

  <div class="image">
    <img src="https://i.postimg.cc/Qx1QKDDd/sp.png">
  </div>
</section>
</ng-container>
<ng-template #elseTemplate>
  <router-outlet></router-outlet>
</ng-template>
