


// .card{
// margin-top: 200px;
// }
.title{
  color:rgb(255, 86, 80);
}
::ng-deep .create-modal{
  top: 10%;
   width: 50% !important;
    min-height: 50%;
     .modal-content{
        top:0;
       }
    .modal-body{
   box-shadow: none;}}

