<div class="d-flex justify-content-between m-5">
<h3 class="fw-bold title">Tenant Management</h3>
<button class="btn btn-primary" (click)="openModal(myModal)">+Add Tenant</button>
</div>

<div class="card mx-5 mb-3 px-3" style="border-radius: 1rem;">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 my-2 px-3">
    <div class="col-xxl-3 d-flex">
        <span class="fw-bold">NAME</span>
    </div>

    <div class="col-xxl-4 d-flex">
      <span class="fw-bold">Code</span>

    </div>
    <div class="col-xxl-3 d-flex">
      <span class="fw-bold">Email</span>

    </div>
    <div class="col-xxl-2 d-flex justify-content-around">
      <span class="fw-bold">Actions</span>
    </div>
  </div>
<div class="mb-2">
<ng-container *ngIf="tableRow.length">
  <div class="report-body cursor-pointer px-3" *ngFor="let row of tableRow">
    <hr>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col-xxl-3 d-flex">
        <span>{{row?.tenant_name}}</span>
    </div>

    <div class="col-xxl-4 d-flex">
      <span>{{row.tenant_code}}</span>

    </div>
    <div class="col-xxl-3 d-flex">
      <span>{{row.tenant_email}}</span>

    </div>
    <div class="col-xxl-2 d-flex justify-content-around">
            <button class="btn btn-warning" (click)="openModal(myModal,row.id)">edit</button>
             <button class="btn btn-danger" (click)="openDeleteModal(myDeleteModal, row.id)">delete</button>

    </div>
  </div>
</div>
</ng-container>
</div>

<ng-template #myModal>
<app-create-tanent [tanentId]="tanentId" (submitSuccess)="submited($event)"></app-create-tanent>
</ng-template>

<ng-template #myDeleteModal>
  <div class="mt-4 mb-4 p-4 d-flex flex-column justify-content-center align-items-center">
    <span class="text-bold">Are you sure you want to delete?</span>
    <div class="mt-4 d-flex justify-content-between">
      <button class="btn btn-primary mx-2 btn-width" (click)="deleteTanent()">Yes</button>
      <button class="btn btn-secondary mx-2 btn-width" (click)="closeModal()">No</button>
    </div>
  </div>
</ng-template>
</div>
